.appHeader {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.brand {
  text-decoration: none;
  color: inherit;
}

.brand h1 {
  margin: 0;
  font-size: 1.4rem;
}
